<%- partial('_partial/banner') %>
<%- partial('_partial/cateNav') %>

<section class="posts">
    <% page.posts.each(function (post) { %>
    <article class="index-post">

        <!-- 文章标题 -->
        <div class="post-title">
            <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
        <!-- 文章图片 -->
        <div class="post-img">
            <a href="<%- url_for(post.path) %>">
                <img src="<%- post.index_img %>" alt="">
            </a>
        </div>
        <!-- 文章信息 -->
        <div class="post-info">
            <!-- 右边上部分文章标题\摘要 -->
            <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
            <a href="<%- url_for(post.path) %>">阅读全文</a>
            <!-- 右边下部分文章分类\时间 -->
            <!-- <div class="post-meta">
                <div class="post-cate">
                    <% post.categories.each(function(cate){ %>
                    <a href="<%- url_for(cate.path) %>">
                        <i class="fa fa-list"></i>
                        <%= cate.name %>
                    </a>
                    <% }) %>
                </div>


            </div> -->
        </div>



    </article>
    <% }) %>
</section>