<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
    <div class="header">
        <%- partial('_partial/header') %>
    </div>
    <!-- header预留 -->
    <div class="container">
        <!-- 左侧menu菜单栏 -->
        <div class="menu">
            <%- partial('_partial/menu') %>
        </div>
        <!-- 右侧主体 -->
        <div class="body">
            <!-- body将会解析index.ejs -->
            <%- body %>
            <%- partial('_partial/paginator') %>
        </div>
    </div>
    <div class="footer">
        <%- partial('_partial/footer') %>
    </div>
</body>
<script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('code').forEach(block => {
        if(!(block.className == /js c/g)){
            block.classList.add('highlight')
        }
    });
</script>


</html>