<div class="index-menu">
  <div class="menu_title">
    <a href="<%= url_for() %>" class="logo"><%= config.title %></a>
  </div>
  <div class="menu-box">
    <div class="menu-item ">
      <a href="<%- url_for(theme.menu["home"])%>" class="menu-item-link active">
        <i class="fa fa-home"></i>
        <span><%= '首页' %></span>
      </a>
    </div>
    <div class="menu-item">
      <a href="<%- url_for(theme.menu['archives'])%>" class="menu-item-link">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span><%= '归档' %></span>
      </a>
    </div>
    <div class="menu-item">
      <a href="<%- url_for(theme.menu['about'])%>" class="menu-item-link">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span><%= '关于' %></span>
      </a>
    </div>

    <script>
      // 菜单按钮active
      let menuItems = document.querySelectorAll('.menu-item')
      // 当前网页url（因为a的href最后没有/（除了首页），所以把网页最后的/删除掉）
      let winHref = window.location.href.substr(0, window.location.href.length - 1)

      for (let menuItem of menuItems) {
        // 当a的href == 网页url时
        if (menuItem.querySelector('a').href == winHref) {
          // 清除所有item的active
          for (let menuItem of menuItems) {
            menuItem.querySelector('a').classList.remove('active')
          }
          // 给对应的item添加active
          menuItem.querySelector('a').classList.add("active")
        }

      }

      /* 垃圾代码
      if(window.location.href === 'http://localhost:4000/'){
        menuItems[0].classList.add('active')
      }else if(window.location.href === 'http://localhost:4000/archives/'){
        menuItems[1].classList.add('active')
      }else if(window.location.href === 'http://localhost:4000/about/'){
        menuItems[2].classList.add('active')
      }
      }
      */

      
    </script>
  </div>
  <div class="toc">
    <div class="toc-title">目录</div>
    <div class="toc-content">
      <%- toc(page.content,{
        list_number:false,
        min_depth:1,
        class:'post-toc'
    }) %>
    </div>
  </div>
  <div class="tag">
    <div class="tag-title">标签</div>
    <div class="tag-content">
      <%- tagcloud({
                min_font: 15,
                max_font: 20,
                amount: 999,
                // unit: unit,
                // color: true,
                // start_color,
                // end_color
            }) %>
    </div>

    <script>
      // 当不在文章页的时候将目录隐藏
      let tocContent = document.querySelector('.toc-content')
      let toc = document.querySelector('.toc')
      if (tocContent.innerText == '') {
        toc.style.display = "none"
      }
    </script>

  </div>

  <div class="count">
    <div class="count-title">统计</div>
    <ul class="count-content">
      <li>
        <div>
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          <span>建站时间</span>
        </div>
        <span><%- theme.time.year+'年'+theme.time.month+'月'+theme.time.date+'日' %></span>
      </li>
      <li>
        <div>

          <i class="fa fa-clock" aria-hidden="true"></i>
          <span>运行时间</span>
        </div>
        <span id="siteTime">努力获取中..</span>



        <script>
          // 时间函数
          function siteTime() {
            var seconds = 1000;
            var minutes = seconds * 60;
            var hours = minutes * 60
            var days = hours * 24;
            var years = days * 365;
            var today = new Date();
            var startYear = "<%- theme.time.year %>";
            var startMonth = "<%- theme.time.month %>";
            var startDate = "<%- theme.time.date %>";

            var todayYear = today.getFullYear();
            var todayMonth = today.getMonth() + 1;
            var todayDate = today.getDate();

            var t1 = Date.UTC(startYear, startMonth, startDate);
            var t2 = Date.UTC(todayYear, todayMonth, todayDate);
            var diff = t2 - t1;

            var diffYears = Math.floor(diff / years);
            var diffDays = Math.floor((diff / days) - diffYears * 365);

            console.log(diffYears)
            console.log(diffDays)

            document.getElementById("siteTime").innerHTML = diffDays + diffYears * 365 + "天"


          }
          setTimeout(siteTime, 1000);
        </script>

      </li>

    </ul>

    <!-- </div> -->
  </div>
</div>