<!-- 暂时没写 -->

<header>
  <!-- width > 1130时候展示header_normal -->
  <div class="header_normal" id="headerNormal">
    <div class="header_normal_title">
      <a href="<%= url_for() %>"><%= config.title %></a>
    </div>
    <div class="header_normal_btn">
      <i class="fa fa-search search_open_btn"></i>
      <%- partial('_partial/search') %>
    </div>

  </div>

  <!-- width < 1130时候展示header_small -->
  <div class="header_small_none" id="headerSmall">
    <div class="cate_btn">
      <button>我是分类</button>
    </div>
    <div class="header_title">
      <a href="<%= url_for() %>"><%= config.title %></a>
    </div>
    <div class="search">search</div>
  </div>

</header>
<!-- 
<script>
  let header = document.querySelector('header')
  // 
  window.onscroll = function () {
    headerStyleChange(header)
  }
  let headerNormal = document.querySelector('#headerNormal')
  let headerSmall = document.querySelector('#headerSmall')

  window.onload = function () {
    headerContentChange(headerNormal, headerSmall)
  }
  window.onresize = function () {
    headerContentChange(headerNormal, headerSmall)
  }

  // header内容根据网页宽度进行变换函数
  function headerContentChange(headerNormal, headerSmall) {
    if (window.innerWidth <= 1130) {
      headerNormal.classList = 'header_normal_none'
      headerSmall.classList = "header_small"
    } else {
      headerNormal.classList = 'header_normal'
      headerSmall.classList = "header_small_none"
    }
  }
  // header样式根据网页高度进行变换函数
  function headerStyleChange(header) {
    if (window.pageYOffset >= 100) {
      header.classList.remove('hidden')
    } else {
      header.classList.add('hidden')
    }
  }

  let cateBtn = document.querySelector('.cate_btn')
  // let menu = document.querySelector('.index-menu')
  cateBtn.onclick = function () {
    if (menu.style.height == '') {
      menu.style.height = '100%'
      // console.log(11);
    } else if (menu.style.height == '100%') {
      menu.style.height = ''
      // console.log(22);
    }
  }
</script> -->


<style>
  .hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;

    @media (max-width: 1130px) {
        height: 50px;
    }
}

header {
    box-shadow: 0 3px 5px rgba(31, 45, 61, 0.05), 0 2px 3px rgba(31, 45, 61, 0.08), inset 0 -1px hsla(0, 0%, 100%, 0.05);
    // background-color: #fff;
    height: 50px;
    transition: all 0.3s;
    z-index: 200;
    display: flex;
    position: fixed
    width: 100vw
    // flex-direction: column
    justify-content: space-around;
    // padding: 0 20px;

    .header_normal_none {
        display: none;
    }

    .header_normal {
        display: flex;
       
        // justify-content: space-around;
        // background-color: green;
        width: 100%;

        .header_normal_title {
            // background-color: red;
            // align-items: center;
            line-height: 50px
            margin: 0 0 0 40px
            flex: 1;
            height: 50px
        }

        // text-align: right;
        .header_normal_btn {
            background-color: rgb(242, 242, 242)
            padding-right: 40px
            // background-color: #bfa
            flex: 5;
            height: 50px
            align-items: center
            display: flex
            // line-height: 50px
            // display: flex
            justify-content: flex-end
            .search_open_btn {
                cursor: pointer;
            }
        }
    }

    .header_small {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .cate_btn {
            background-color: red;
        }
    }

    .header_small_none {
        display: none;
    }
}
</style>